[submodule "TL_Graphics"]
	path = TL_Graphics
	url = https://github.com/ajwlukas/TL_Graphics.git
[submodule "TL_GraphicsSample"]
	path = TL_GraphicsSample
	url = https://github.com/ajwlukas/TL_GraphicsSample.git
[submodule "jw_Input"]
	path = jw_Input
	url = https://github.com/ajwlukas/jw_Input.git
[submodule "jw_Property"]
	path = jw_Property
	url = https://github.com/ajwlukas/jw_Property.git
[submodule "jw_Timer"]
	path = jw_Timer
	url = https://github.com/ajwlukas/jw_Timer.git
