# Auto detect text files and perform LF normalization
* text=auto
TL_FBXLibrary/FBX_debug/libfbxsdk-md.lib filter=lfs diff=lfs merge=lfs -text
TL_FBXLibrary/FBX_debug/libfbxsdk-mt.lib filter=lfs diff=lfs merge=lfs -text